APP_NAME='WhitelistsDownload'
SUBSCRIPTION_TITLE='🌊 OpenSource VPN'
DESCRIPTION_TEXT='⚡ Subscriptions from open sources'
PORT=55000
CONFIGS='configs.txt'
LOGS='log.txt'
SUB_PATH='/sub'
SOURCES='sources.txt'