configs.txt
log.txt
*.log

*.zip
wl-download.exe
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/
build/
dist/

/vendor/

*.out
cover.out
coverage.txt

.env
.env.*
*.local

.vscode/
*.code-workspace

.idea/
*.iws
*.iml
out/

*.swp
*.swo
*~
\#*\#

.DS_Store
.AppleDouble
.LSOverride
._*
.Trash

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/